.btn-back {
    position: absolute;
    display: inline-block;
    width: 2rem;
    left: 5%;
    cursor: pointer;
    margin: auto;
    transform: translate(-50%, 150%);
}

.issue-resolve-title {
    font-family: "Pretendard";
    font-style: bold;
    font-weight: 700;
    font-size: 14px;
    line-height: 8px;
    color: #6ac47a;
    width: 6rem;
    height: 1rem;
}

.issue-resolve-title-content {
    font-family: "Pretendard";
    font-style: bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #464646;
    width: 24rem;
    height: 1rem;
}

.issue-resolve-image {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #464646;
    width: 6rem;
    height: 1rem;
}
.issue-resolve-need {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #ED6C67;
    width: 5rem;
    height: 1rem;
}

.issue-category {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #464646;
    width: 8rem;
    height: 1rem;
}
.input-trade-name {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    color: #e2e2e2;
    line-height: 14px;
    color: #464646;
    width: 21rem;
    height: 3.5rem;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
}
.resolve-info {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #464646;
    width: 6rem;
    height: 1rem;
}
.input-resolve-info {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;

    color: #e2e2e2;
    line-height: 14px;
    color: #464646;
    width: 98%;
    height: 5.5rem;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
}
.brush {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #464646;
    width: 6.5rem;
    height: 1rem;
}
.input-brush {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    color: #e2e2e2;
    line-height: 14px;
    color: #464646;
    width: 21rem;
    height: 3.5rem;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
}
