.Box {
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    transform: translate(50%, 150%);
    width: 50%;
    height: 20%;
    border-radius: 15px;
    margin: auto;
}