* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Pretendard, Helvetica;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body * {
	-webkit-tap-highlight-color: transparent;
}

img {
	-webkit-touch-callout: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

:root {
	--vh: 100%;
}